/* yellow: rgb(255, 242, 58) */
/* light-yellow: FEFCE1 */

body {
  background-color: rgb(249, 249, 249);
  margin: 0;
  font-family: 'Roboto Slab', serif;
}

input {
  font-family: 'Roboto Slab', serif;
}

button {
  font-family: 'Roboto Slab', serif;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#nav {
  background-color: rgb(255, 242, 58);
  height: 70px;
  width: 100vw;
  display: flex;
  align-items: center;
  padding: 0 40px;
  box-sizing: border-box;
  justify-content: space-between;
  font-family: 'Roboto Slab', serif;
}

#nav a {
  font-family: 'Roboto Slab', serif;
  color: black;
  text-decoration: none;
}

#header h1 {
  font-size: 1.6em;
  font-family: 'Roboto Slab', serif;
  padding-bottom: 7px;
}

#drop-down {
  cursor: pointer;
}

#mid {
  display: flex;
}

#config-container {
  background-color: white;
  width: 30vw;
  padding: 20px 40px;
  box-sizing: border-box;
}

#config-container h2 {
  font-size: 1.2em;
  font-family: 'Roboto Slab', serif;
}

.label {
  font-family: 'Roboto Slab', serif;
}

#config-container input {
  outline: none;
  padding: 0 10px;
  font-size: 1em;
  margin-top: 5px;
  width: 100%;
  height: 30px;
}

#config-container select {
  outline: none;
  padding: 0 10px;
  font-size: 1em;
  margin-top: 5px;
  width: 105%;
  height: 30px;
}

.loader , .plugin, .library {
  outline: none;
  padding: 0 10px;
  margin-top: 5px;
  width: 100%;
  height: 30px;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FEFCE1;
}

.fa-minus-circle {
  font-size: 1.2em;
  color: rgb(201, 40, 40);
  cursor: pointer;
}

.checkbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.checkbox input {
  max-width: 20px;
}

#generation {
  background-color: white;
  width: 40vw;
  padding: 20px 40px;
  box-sizing: border-box;
}

#generation h2 {
  font-size: 1.2em;
  font-family: 'Roboto Slab', serif;
}

#generated-code {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#generated-code input {
  outline: none;
}

#generated-code button {
  margin-left: 10px;
  background-color: rgb(255, 242, 58);
  border: 1px solid #FEFCE1;
  color: black;
  cursor: pointer;
  outline: none;
}

#generated-code button:hover {
  background-color: rgb(255, 249, 164);
}

#more-info {
  background-color: white;
  width: 90%;
  border: 1px solid rgb(255, 242, 58);
  padding: 10px;
  box-sizing: border-box;
}

pre {
  background-color: #FEFCE1;
  border: 1px solid rgb(255, 242, 58) !important;
  border-radius: 5px;
  padding: 10px !important;
  margin-top: 40px;
  white-space: pre-wrap;
  word-wrap: break-word; 
}

@media (max-width: 1200px) {
  #config-container {
    width: 40vw;
  }

  #generation {
    width: 60vw;
  }
}

img {
  margin-right: 10px;
  margin-top: 5px;
}

.icons {
  display: flex;
  align-items: center;
}